.centerMe{
	margin-left: 25%;
	margin-right: 25%;
    text-align:center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.Post{
    background-color: #e6f3ff;
    color: #0d0d0d;
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom:1em;
}

.errorMessage{
    color: red;
    padding-bottom:3em;
}

.about{
    text-align:center;
    font-size:1.5em;
    padding-bottom:3em;
}

.navbar-inverse .navbar-nav>li>a{
    color:  #e6f3ff;
}

.navbar-inverse .navbar-brand{
    color: #e6f3ff;
}

#overridesBase{
    text-align:left;
}

img.blogImage {
    height: 95%;
    width: 95%;
    max-width: 12em;
    max-height: 12em;
}

img.detailImage {
    height: 95%;
    width: 95%;
    max-width: 24em;
    max-height: 24em;
}