.centerMe{
	margin-left: 25%;
	margin-right: 25%;
    text-align:center;
    padding-top: 5%;
}

.Post{
    background-color: #e6f3ff;
    color: #0d0d0d;
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom:20px;
}

.navbar-inverse .navbar-nav>li>a{
    color:  #e6f3ff;
}

.navbar-inverse .navbar-brand{
    color: #e6f3ff;
}

#overridesBase{
    text-align:left;
}

img.blogImage {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}