{% extends 'base.html' %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>


{% if error %}
{{ error }}
{% endif %}

<form action="{% url 'logmein' %}" method="POST">
    {% csrf_token %}

    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{request.GET.next}}"/>
    {% endif %}


    <p>Username:</p>
    <input type="text" name="username" />
    <br/>
    <br/>
    <p>Password:</p>
    <input type="password" name="password" />
    <br/>
    <br/>
    <input type="submit" value="login" name="login" />

</form>

</body>
</html>

{% endblock %}