{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>

<body>



<div class="about">
    <h1>About Kevin</h1>
    <br/><br/><br/>



    <p>My name is Kevin Reaves. I graduated with my Bachelor’s Degree in Computer Science
    from Troy University in May 2016. I'm currently working as a Configuration Management Specialist for CGI's PSMAG project.
    PSMAG provides twenty-four hour support for the Advantage application. Advantage is a financial and hrm application that is 
    marketed towards state and local governments. </p>

    <br/>

    <p>In addition to my experience with CGI, I've also worked on a variety of personal programming projects.

    <br/><br/>

    <a href="https://codepen.io/kevin82593" target="_blank">CodePen</a> is where several of my front-end projects are stored. These include
    a jQuery calculator, a sliding box puzzle solver, and a few other projects.

    <br/><br/>

    Here is a link to my <a href="https://github.com/kevin-reaves" target="_blank">Github</a> profile.

    <br/><br/>

    <p>I've included a link to my resume below. I look forward to hearing from you!</p>
    
    <br/><br/>

    <a href="{% static '/resume/Kevin_Reaves_Resume.docx' %}" class="btn btn-info" role="button">
        Download my resume (Word)</a>


</div><!--centerMe-->

</body>
</html>

{% endblock %}
