{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>

<body>



<div class="about">
    <h1>About Kevin</h1>
    <br/><br/><br/>



    <p>My name is Kevin Reaves. I graduated with my Bachelor’s Degree in Computer Science
    from Troy University in May 2016. CGI offered me a job before graduation,
    so I immediately transferred from college to the workforce and
    I’ve been working as a configuration management specialist for
    CGI’s Advantage project ever since.</p>
    <br/>

    <p>Both during and after college I’ve been able to put time into
    web development with projects ranging from school assignments
    to personal projects for myself and others. After spending the last year
    working in an application support role, I'm excited to move into a development
    role.</p>

    <br/>

    <p>I've included a link to my resume below. I look forward to hearing from you!</p>
    <br/>

    <a href="{% static '/resume/Kevin_Reaves_Resume.docx' %}" class="btn btn-info" role="button">
        Download my resume (Word)</a>
    <br/>
    <br/>
    <a href="{% static '/resume/Kevin_Reaves_Resume.pdf' %}" class="btn btn-info" role="button">
        Download my resume (PDF)</a>

</div><!--centerMe-->

</body>
</html>

{% endblock %}