{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <h1>Welcome to the blog!</h1>


</head>
<body>

    {% for post in posts.all %}
    {% csrf_token %}
        <a href = "{% url 'post_detail' post.id %}">{{ post.title }}</a>
        <br/>
        {{ post.pub_date }} by {{ post.author }}
        <br/>
        <img src="{{ post.image.url }}"/>

        <br/><br/>
    {% endfor %}

</body>
</html>

{% endblock %}
