{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>


</head>
<body>

    {% for post in posts.all %}
    {% csrf_token %}
        <div class="Post">
        <a href = "{% url 'post_detail' post.id %}">{{ post.title }}</a>
        <br/>
        {{ post.pub_date }} by {{ post.author }}
        <br/>

        <!-- Using alternate images is a temporary solution while I troubleshoot
            issues with ImageField not filtering non-image files.-->
        <img class="blogImage" src="{{ post.image.url }}"
             onerror="this.src='/media/media/defaultBlogImage.png';"/>
        </div>
        <br/><br/>

    {% endfor %}

</body>
</html>

{% endblock %}
