{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>
    <div class="Post">
    {{ post.title }}
    <br/>
    {{ post.pub_date }} by {{ post.author }}
    <br/>
    <br/>
    <img class="blogImage" src="{{ post.image.url }}"
         onerror="this.src='/media/media/defaultBlogImage.png';"/>



    <br/>
    <br/>

    {{ post.body|safe }}
        <br/><br/>
    </div>

</body>
</html>

{% endblock %}